#PokemonCardContainer {
    height: 50vh;
    aspect-ratio: 5/3;
    background-color: white;
    color: #213547;
    border: 1px solid #213547;
    border-radius: 10px;
    display: flex;
    background: linear-gradient(
        to bottom,
        rgb(254, 235, 235) 0%,
        rgb(255, 121, 121) 100%
    );
}

#ImageContainer {
    height: 100%;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#PokemonCardContainer img {
    height: 75%;
    padding: 10px;
}

#StatContainer {
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

#StatContainer > section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

#StatContainer > section > h1,
#StatContainer > section > h2 {
    margin: 0;
    padding: 0;
}

#StatContainer > section > h1 {
    font-size: 6vh;
}

#StatContainer > section > h2 {
    font-size: 4vh;
}

#StatGrid {
    display: grid;
    align-items: start;
    gap: 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 20%;
}

#StatGrid section {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#StatGrid section h3,
#StatGrid section p,
#StatGrid section ul {
    padding: 0;
    margin: 0;
}

#StatGrid section li {
    list-style: none;
}

#StatGrid section h3 {
    font-size: 3vh;
}

#StatGrid section p {
    font-size: 2vh;
}

#StatGrid section ul {
    font-size: 2vh;
}

@media (max-aspect-ratio: 1/1) {
    #PokemonCardContainer {
        height: 60vh;
        aspect-ratio: 3/5;
        flex-direction: column;
    }

    #ImageContainer {
        height: 50%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    #PokemonCardContainer img {
        height: 80%;
    }

    #StatContainer {
        width: 100%;
        height: 50%;
        border-radius: 0px 0px 10px 10px;
    }

    #StatContainer > section {
        padding-left: 20px;
        padding-bottom: 5px;
    }

    #StatContainer > section > h1 {
        font-size: 2.8vh;
    }

    #StatContainer > section > h2 {
        font-size: 2vh;
    }

    #StatGrid {
        padding-left: 20px;
    }

    #StatGrid section h3 {
        font-size: 1.8vh;
    }

    #StatGrid section p {
        font-size: 1.5vh;
    }

    #StatGrid section ul {
        font-size: 1.5vh;
    }
}

@media (max-aspect-ratio: 1/2) {
    #PokemonCardContainer {
        aspect-ratio: 1/2;
    }
}
