#ScrollerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ScrollerWrapper > button {
    background: none;
    border: none; 
    cursor: pointer;
    width: fit-content;
    margin: 10px;
    font-size: 24px;
}

#ScrollerWrapper > button:first-of-type {
    animation: hoverUpDown 3s ease-in-out infinite;
}

#ScrollerWrapper > button:last-of-type {
    animation: hoverDownUp 3s ease-in-out infinite;
}


#ScrollerWrapper > button:hover {
    transform: scale(1.1);
}

@keyframes hoverUpDown {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

@keyframes hoverDownUp {
    0% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(3px);
    }
}

#ScrollerWrapper > button > img {
    height: 5vh;
}