.pokemonTypeLabel {
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 10px;
    width: 100px;
    color: #000;
    display: flex;
    justify-content: center;
}
.pokemonTypeLabel > p {
    margin: 2px;
}
