.sortAndFilter {
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: lightgray;
    padding: 0px;
    color: #000;
}

.filterList,
.sortList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.filterListEntry,
.sortListEntry {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1px;
}

.starIcon {
    color: yellow;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
